In [1]:
from string import ascii_letters
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import bokeh

# in your notebook cell
import sys

# path relative to your notebook
sys.path.insert(0, '../src')

# import as usual
import functions

# autoreload
%load_ext autoreload
%autoreload 2

#defining DataFrame
df = functions.read_file('../data/archive/database.csv')

In [3]:
print(df.shape)
df.head()

(1420, 26)

,Official Name of Satellite,Country/Organization of UN Registry,Operator/Owner,Country of Operator/Owner,Users,Purpose,Detailed Purpose,Class of Orbit,Type of Orbit,Longitude of Geosynchronous Orbit (Degrees),...,Dry Mass (Kilograms),Power (Watts),Date of Launch,Expected Lifetime (Years),Contractor,Country of Contractor,Launch Site,Launch Vehicle,COSPAR Number,NORAD Number
0,AAUSat-4,NR,University of Aalborg,Denmark,Civil,Earth Observation,Automatic Identification System (AIS),LEO,Sun-Synchronous,0.00,...,NaN,NaN,4/25/2016,NaN,University of Aalborg,Denmark,Guiana Space Center,Soyuz 2.1a,2016-025E,41460.0
1,ABS-2,NR,Asia Broadcast Satellite Ltd.,Multinational,Commercial,Communications,NaN,GEO,NaN,75.00,...,NaN,16000,2/6/2014,15,Space Systems/Loral,USA,Guiana Space Center,Ariane 5 ECA,2014-006A,39508.0
2,ABS-2A,NR,Asia Broadcast Satellite Ltd.,Multinational,Commercial,Communications,NaN,GEO,NaN,-75.00,...,NaN,NaN,6/15/2016,15,Boeing Satellite Systems,USA,Cape Canaveral,Falcon 9,2016-038A,41588.0
3,ABS-3,Philippines,Asia Broadcast Satellite Ltd.,Multinational,Commercial,Communications,NaN,GEO,NaN,146.06,...,1800,9000,8/19/1997,15,Space Systems/Loral,USA,Xichang Satellite Launch Center,Long March CZ3B,1997-042A,24901.0
4,ABS-3A,NR,Asia Broadcast Satellite Ltd.,Multinational,Commercial,Communications,NaN,GEO,NaN,-3.00,...,NaN,NaN,3/2/2015,15,Boeing Satellite Systems,USA,Cape Canaveral,Falcon 9,2015-010A,40424.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1420 entries, 0 to 1419
Data columns (total 26 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Official Name of Satellite                   1420 non-null   object
 1   Country/Organization of UN Registry          1420 non-null   object
 2   Operator/Owner                               1419 non-null   object
 3   Country of Operator/Owner                    1420 non-null   object
 4   Users                                        1419 non-null   object
 5   Purpose                                      1419 non-null   object
 6   Detailed Purpose                             369 non-null    object
 7   Class of Orbit                               1419 non-null   object
 8   Type of Orbit                                899 non-null    object
 9   Longitude of Geosynchronous Orbit (Degrees)  1402 non-null   float64
 10  Perigee (Kilometers)                         1419 non-null   float64
 11  Apogee (Kilometers)                          1419 non-null   float64
 12  Eccentricity                                 1419 non-null   float64
 13  Inclination (Degrees)                        1419 non-null   float64
 14  Period (Minutes)                             1417 non-null   object
 15  Launch Mass (Kilograms)                      1317 non-null   object
 16  Dry Mass (Kilograms)                         473 non-null    object
 17  Power (Watts)                                649 non-null    object
 18  Date of Launch                               1416 non-null   object
 19  Expected Lifetime (Years)                    976 non-null    object
 20  Contractor                                   1419 non-null   object
 21  Country of Contractor                        1419 non-null   object
 22  Launch Site                                  1419 non-null   object
 23  Launch Vehicle                               1419 non-null   object
 24  COSPAR Number                                1419 non-null   object
 25  NORAD Number                                 1419 non-null   float64
dtypes: float64(6), object(20)
memory usage: 288.6+ KB